// global background colors
$backgroundPrimaryColor: #254e58;
$backgroundSecondaryColor: #112d32;
$backgroundLightPrimaryColor: #e7f0f0;
$backgroundLightSecondaryColor: #dde4e4;
$backgroundLightTertiaryColor: #bad9d8;

// borders colors
$borderPrimaryColor: #254e58;
$borderSecondaryColor: #112d32;

// text colors
$textPrimaryColor: #bad9d8;
$textSecondaryColor: #e7f0f0;
$textDarkPrimaryColor: #112d32;
$textDarkPrimaryColor: #254e58;

// tooltip colors
$tooltipBackgroundColor: #262626;

// buttonColors
$buttonPrimaryBackgroundColor: #bad9d8;
$buttonSecondaryBackgroundColor: #254e58;

// danger and warning colors
$dangerColor: #c40909;
